<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Second</title>
  <link href="lib/bootstrap-css/css/bootstrap.css" rel="stylesheet">
  <link href="lib/jquery-ui/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="lib/angular-grid/ng-grid.css">

  <link href="css/app.css" rel="stylesheet">

</head>
